---
title: tags
layout: default
permalink: '/tags/'
tags: index
---

{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

<div class="uk-section">
  <div class="uk-container uk-container-xsmall">
    <h1 class="uk-article-title uk-text-center">
      {{ page.title | escape | capitalize }}
      <span style="text-decoration: none; font-weight: normal;">|
        <a class="tags-link" href="/blog">Blog</a>
      </span>
    </h1>
    {% if page.subtitle %}<p class="uk-text-lead uk-text-muted uk-text-center">{{ page.subtitle }}</p>{% endif %}

    <ul>
      {% for tag in tags %}
        <li>
          <a href="{{ site.baseurl }}/tags/{{tag}}">{{ tag }} [{{ site.posts | where_exp:"post", "post.tags contains tag" | size }}]</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>